Plaintext
# Виртуальное окружение
venv/
env/

# Системные файлы Python
*.pyc
__pycache__/

# База данных (в реальных проектах локальную БД не пушат)
db.sqlite3

# Папка с медиафайлами (картинки товаров загружаются отдельно)
media/